<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgBI-kGQcxWj0jX-BDsbN8LmlKbb3cAIA</string>
	<key>GCM_SENDER_ID</key>
	<string>1020669490249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uniw.app</string>
	<key>PROJECT_ID</key>
	<string>uniw-marketplace</string>
	<key>STORAGE_BUCKET</key>
	<string>uniw-marketplace.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020669490249:ios:4d9b6b2d35469536933b98</string>
	<key>DATABASE_URL</key>
	<string>https://uniw-marketplace-default-rtdb.firebaseio.com</string>
</dict>
</plist>